.placeholder {
  color: var(--text-main);
  margin-top: 1rem;
}

.placeholder-enter,
.placeholder-exit-active {
  opacity: 0;
  transform: scale(0);
}

.placeholder-enter-active,
.placeholder-exit-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.placeholder-enter-done,
.placeholder-enter-active {
  opacity: 1;
  transform: scale(1);
}
