.form {
  display: flex;
  position: relative;
  padding-block: 0.5rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) -10%, transparent 10%);
  border-bottom: 1px solid var(--outline-grey);
}

.input {
  flex-grow: 1;
  height: 32px;
  font-family: inherit;
  border: none;
  padding-inline: 6px;
  background-color: transparent;
}

.submit-btn {
  color: #aaa;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn svg {
  margin-top: 4px;
}

.placeholder {
  position: absolute;
  left: 40px;
  top: 15px;
  font-size: 14px;
  color: silver;
  font-style: italic;
  pointer-events: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.placeholder--hidden {
  transform: translateX(10%);
  opacity: 0;
}