.todo {
  padding: 0.75rem 0.5rem;
  color: var(--text-main);
  border-bottom: 1px solid var(--outline-grey);
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.45;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: color 0.2s ease;
}

.todo--completed {
  color: silver;
}

.line-through {
  display: none;
  position: absolute;
  inset: 0;
  margin: auto;
  height: 2px;
  background-color: silver;
}

.todo--completed .line-through:not(.line-through--hidden) {
  display: block;
}

.completed-enter .line-through {
  transform: scaleX(0);
  transform-origin: left;
}

.completed-enter-active .line-through {
  transform: scaleX(1);
  transition: transform 0.2s ease;
}

.todo:last-child {
  border-bottom-color: transparent;
}

.todo__completed-circle {
  width: 24px;
  height: 24px;
  border: 1px solid var(--outline-grey);
  border-radius: 100vmax;
  flex-shrink: 0;
  overflow: hidden;
}

.todo--completed .todo__completed-circle {
  border-color: #54cf45;
}

.todo__completed-icon {
  display: none;
  justify-content: center;
  align-items: center;
  color: #54cf45;
  margin-top: 3px;
}

.todo--completed .todo__completed-icon {
  display: flex;
}

.completed-enter .todo__completed-icon {
  transform: translateX(-100%);
}

.completed-enter-active .todo__completed-icon {
  transform: translateX(0);
  transition: transform 0.2s ease;
}

.todo__title {
  position: relative;
  word-break: break-word;
}

.todo-transition {
  transition: height 0.3s ease, padding 0.3s ease, border-width 0.15s ease;
}
