*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke;
}

main {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__title {
  margin-top: 0;
  font-weight: normal;
}
